---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

interface Props {
  post: Awaited<ReturnType<typeof getCollection<"blogPosts">>>[number];
  catFreqs: Record<string, number>;
}

const { post, catFreqs } = Astro.props;

const allCategories = await getCollection("blogCategories");
const catNames = allCategories.reduce(
  (acc, cat) => {
    acc[cat.id] = cat.data.name;
    return acc;
  },
  {} as Record<string, string>
);
---

<article>
  <a href={`/posts/${post.id}`} class="no-underline! hover:underline!">
    {
      post.data.coverImage && (
        <Image
          src={post.data.coverImage}
          alt="Cover image"
          class="rounded-sm mb-4 aspect-video object-cover w-full max-h-40"
        />
      )
    }
    <h4>{post.data.title}</h4>
    <p>
      {post.data.createdAt?.toLocaleDateString() ?? "Unknown Date"}
    </p>
    <small>{post.data.summary}</small>
  </a>
  <div class="flex flex-row flex-wrap gap-2 mt-2">
    {
      post.data.categories.map((cat) => (
        <small>
          <code>
            <a href={`/posts/${cat}`}>
              {catNames[cat] ?? cat} ({catFreqs[cat]})
            </a>
          </code>{" "}
        </small>
      ))
    }
  </div>
</article>
